@media ( max-width:426px ) {
    /**============ START COMMON CSS PART ============**/

    .title{
        margin-bottom: 20px;
    }
    .title .line{
        width: 50%;
    }
    .btn{
        padding: 10px 30px;
    }

					/**============ END COMMON CSS PART ============**/



					/**============ START NAV PART ============**/



                    /**============ END NAV PART ============**/



					/**============ START MESSAGE PART ============**/

.about_section .counter_part{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.about_section .counter_part h1{
    font-size: 15px;
}
.about_section .counter_part p{
    font-size: 10px;
}
.about_section .counter_part img{
    width: 10%;
    height: 10%; 
}
.about_section .aboutPart_photo{
    width: 100%;
}
.about_section .aboutPart_text{
    width: 100%;
}
.about_section  .counter_part{
    display: flex;
    justify-content: space-between;
}

.about_section .counter_part .counter_text{
    width: 30%;
}

					/**============ END MESSAGE PART ============**/




					/**============ START LATEST NEWS PART ============**/


					/**============ END LATEST NEWS PART ============**/




					/**============ START UPDATE NEWS PART ============**/


					/**============ END UPDATE NEWS PART ============**/




					/**============ START BAZAR PART ============**/


					/**============ END BAZAR PART ============**/




					/**============ START PORTFOLIO PART ============**/


					/**============ END PORTFOLIO PART ============**/



					/**============ START FOOTER PART ============**/

    .footer_section .footer_logo{
        text-align: center;
        margin-bottom: 20px;
    }
    .footer_section .footer_logo img{
        width: 40%;
    }
					/**============ END FOOTER PART ============**/

}


@media ( min-width:427px ) and ( max-width :769px ) {

					/**============ START NAV PART ============**/


                    /**============ END NAV PART ============**/



                    /**============ START MESSAGE PART ============**/



                    /**============ END MESSAGE PART ============**/




                        /**============ START LATEST NEWS PART ============**/
/* .about_section .counter_part img{
    width: 10%;
    height: 10%; 
}
.about_section .aboutPart_photo{
    width: 100%;
}
.about_section .aboutPart_text{
    width: 100%;
}
.about_section .about_section .counter_part{
    display: flex;
    justify-content: space-between;
} */

                    /**============ END LATEST NEWS PART ============**/




                    /**============ START UPDATE NEWS PART ============**/


                    /**============ END UPDATE NEWS PART ============**/




                    /**============ START BAZAR PART ============**/



                        /**============ END BAZAR PART ============**/




                        /**============ START PORTFOLIO PART ============**/



                        /**============ END PORTFOLIO PART ============**/


    					/**============ START FOOTER PART ============**/

    .footer_section .footer_logo{
        text-align: center;
        margin-bottom: 20px;
        padding: 0;
    }
    .footer_section .footer_logo img{
        width: 100%;
    }
    .footer_section p{
        margin-bottom: 0;
    }
}


@media ( min-width:770px ) and ( max-width :1025px ) {
    
                    /**============ START BAZAR PART ============**/

/* .about_section .aboutPart_photo{
    width: 100%;
}
.about_section .aboutPart_text{
    width: 100%;
} */

                    /**============ END BAZAR PART ============**/




                    /**============ START PORTFOLIO PART ============**/

}